@font-face{
  font-family: 'Oxygen';
  /*src: url('../fonts/pfbeausanspro-thin.ttf');*/
  /*src: url('./fonts/Oxygen-Light.ttf');*/
  /*src: url('./fonts/TitilliumWeb-Regular.ttf');*/
  src: url('./fonts/Oxygen-Regular.ttf');
  /*src: url('./fonts/myriad-web-pro.ttf');*/
}

body {
	background: url('bg.png');
	margin:0;
	padding:0;
	font-family: 'Oxygen';
	font-size: 15px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.body-wrapper {
	width: 1068px;
	margin: auto;
	background: white

}

a {
	text-decoration: none;
}

.repositoryItem {
	min-height: 170px;
	border: 1px solid #ddd;
	width:210px;
	float: left;
	margin: 5px;
	background: white;
	/*transition: all 0.5s ease;*/
	transition: all 0.5s ease;
	padding: 15px;
	position: relative;
}

.repositoryItem a {
	overflow: hidden;
	display: block;
	height:auto;
	min-height: 170px;
}

.repositoryItem:hover {
	transition: all 0.5s ease;
	/*transition: color 1000ms ease-out;*/
	/*transition: background-position 1000ms ease-out;*/
}

.icon {
	position: absolute;
	width:32px;
	bottom:0;
	right:0;
}

.icon img {
	width:22px;
	height: 22px;
	padding:5px;
}

.repositoryName {
	color: #1D1D1D;
	text-decoration: none;
	font-size: 20px;
	font-weight: 700;
	display: inline-block;
	line-height: 1;
}

.repositoryDescription {
	color: #777;
}

input[type="checkbox"]{
	height:  20px;
	font:  14px/26px 'pt-sans', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif ;
	padding: 7px 7px 7px 12px ;
	/*margin: 0 0 30px 0 */
	background: #FFF ;
	border: 1px solid #ddd ;
	outline: none ;
	color: #96999D ;
	-webkit-box-shadow:  0 1px 2px rgba(0, 0, 0, 0.1) ;
	   -moz-box-shadow:  0 1px 2px rgba(0, 0, 0, 0.1) ;
			box-shadow:  0 1px 2px rgba(0, 0, 0, 0.1)    ;     
	-webkit-appearance:  none ;
	-webkit-font-smoothing:  antialiased;
	-webkit-transition:  all 0.15s ;
	   -moz-transition:  all 0.15s ;
		-ms-transition:  all 0.15s ;
		 -o-transition:  all 0.15s ;
			transition:  all 0.15s domize-checkbox;
}

input[type="checkbox"]:hover{
	cursor: pointer;
}

input[type='checkbox']:focus{
	color: #2E3236;
	outline: none;
}
input[type='checkbox']:checked{
	background: white;
	position: relative;
	border-color: orange;
	outline: none;
}
input[type='checkbox']:checked:before{
	content: '\2713';
	color: orange;
	width: 15px;
	height: 15px;
	position: absolute;
	top: -4px;
	font-size: 15px;
	left: 3px;
	outline: none;
}
input[type='checkbox']:active{
	outline: none;
}

footer {
		background: orange;
}

footer .footer-wrapper {
	height:220px;
	margin:70px auto 20px auto;
	padding: 0;
	width:980px;
}

.repositoriesWrapper {
	overflow: hidden;
	height: auto;
	padding-bottom: 20px;
	padding-right: 30px;
	padding-left: 30px;
}



.repositoryItem:hover {
	background: #eaefef;
}

.csharp-item:hover{
	background: #3498DB;
	border-color: #3498DB;
}

.PHP-item:hover {
	background: rgb(94, 128, 189);
	border-color: rgb(94, 128, 189);
}

.repositoryItem.js-item:hover {
	background: rgb(240, 219, 79);
	border-color: rgb(240, 219, 79);
}

.repositoryItem.CSS-item:hover {
	background: #3B9ADB;
	border-color: #3B9ADB;
}

.repositoryItem.HTML-item:hover {
	background: #E44D26;
}
.repositoryItem.js-item:hover .repositoryName {
	color: #333;
}

.repositoryItem.HTML-item:hover .repositoryName,
.repositoryItem.CSS-item:hover .repositoryName,
.repositoryItem.PHP-item:hover .repositoryName,
.repositoryItem.csharp-item:hover .repositoryName{
	color:white;
/*	text-shadow: 0px 0px 1px rgba(100, 100, 100, 0.7);*/
}

.repositoryItem.csharp-item:hover .repositoryDescription{
	color: white;
}

.repositoryItem.js-item:hover .repositoryDescription {
	color:#555;
}

.repositoryItem.PHP-item:hover .repositoryDescription {
	color:white;
}

.repositoryItem.CSS-item:hover .repositoryDescription {
	color:white;
}

.publicTotal {
	width: 140px;
	height: 140px;
	border-radius: 100px;
	border:5px solid #4AC1E3;
	position: relative;
	display: inline-block;
	background: #0B84B9;
}

.publicTotal hr {
	position: absolute;
	border: 1px solid #68C4F5;
	width: 100px;
	margin: 85px 20px 20px 20px;
}

.numberOf {
	font-size: 60px;
	width: 100%;
	text-align: center;
	display: inline;
	color: white;
	position: absolute;
	line-height: 1;
	font-weight: 700;
	top:25px;
}

.underText {
	line-height: 1;
	display: inline;
	width: 100%;
	position: absolute;
	bottom: 35px;
	text-align: center;
	font-size: 15px;
	color: #68C4F5;
	text-transform: uppercase;
}

footer {
	width:100%;
	height:200px;
	background: linear-gradient(orange, darkorange);
	box-shadow: 0px 3px 4px 1px rgba(100,100,100,0.5);
}

.filters {
	overflow: hidden;
	height: 100px;
	width: 270px;
	display: inline-block;
	float: left;
	padding-top: 20px;
}

.filters div div {
	width: 80px;
	height: 30px;
	display: inline-block;
	float: left;
	padding: 5px;
	text-align: center;
}

.filters div div p {
	text-align: center;
	color:#777;
	padding-bottom: 2px;
	margin-bottom: 2px;
	color:white;
	font-weight: bold;
}

.filters div.filter-tip {
	width:100%;
	display: block;
	text-align: center;
	color: #777;
}

.header-info-block {
	margin: 0px 0 30px 0;
}

.statistics {
	height: 160px;
}

.statistics .publicTotal{
	float: right;
	margin-left: 20px;
}

header img.logo {
	height: 150px;
	padding-left: 20px;
}

header {
	box-shadow: 0px -4px 4px 1px rgba(100,100,100,0.5);
	position: relative;
	background: white;
	padding-bottom: 20px;
}


.header-info-block {
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	background-image:
        linear-gradient(orange, darkorange),
        linear-gradient(to bottom right, transparent 50.5%, orange 50.5%),
        linear-gradient(to bottom left, transparent 50.5%, orange 50.5%),
        linear-gradient(to top right, transparent 50.5%, darkorange 50.5%),
        linear-gradient(to top left, transparent 50.5%, darkorange 50.5%);
	background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
	background-position: 0 0, 10px 0, 10px 0, 10px 100%, 10px 100%;
	background-size: auto auto, 20px 20px, 20px 20px, 20px 20px, 20px 20px;
	background-clip: padding-box, border-box, border-box, border-box, border-box;
	background-origin: padding-box, border-box, border-box, border-box, border-box;
	padding: 20px;
	box-shadow: 0px -3px 1px 1px rgba(100,100,100,0.5);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.socials {
	height: 64px;
	width: 512px;
	display: inline-block;
	float: right;
	padding: 20px;
	margin-top: 10px;
}

.socials img{
	float:left;
	-webkit-filter: grayscale(00%);
	transition: all 0.5s;
}

.socials img:hover {
	cursor: pointer;
	-webkit-filter: grayscale(0%);
	transition: all 0.5s;
	-webkit-transform: rotate(-360deg);
}

.socials-footer img{
	width: 32px;
	border-radius: 100px;
	-webkit-filter: grayscale(100%);
	border: 3px solid transparent;
}

.socials-footer img:hover {
	-webkit-filter: grayscale(0%);
}

footer {
	padding: 20px;
	box-sizing:border-box;
	color:white;
	height:220px;
}

footer .e-mail, footer .socials-footer, footer .address, footer .call-us, .contact {
	width: 255px;
	height: 180px;
	display: inline-block;
	float: left;
	border-right: 1px solid rgb(255, 179, 41);
}

footer .call-us {
	border-right: none;
}

.e-mail hr, .socials-footer hr, .address hr, .call-us hr {
	width: 100px;
	border: 1px solid rgb(255, 184, 0);
}

.e-mail td {
	color: black;
	padding: 5px;
}

.e-mail span, .socials-footer span, .address span, .call-us span {
	text-align: center;
	display: block;
	color: white;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
}

.social-sub-line {
	text-align: center;
}

.skype img {
	width:25px;
	border-radius: 30px;
}

footer a {
	color:white;
}

footer a:hover {
	text-decoration: underline;
}

.high {
	padding-top: 10px;
}

.low {
	margin-top: -8px;
}

.address table {
	margin:auto;
	color: white;
}

.call-us table {
	margin:auto;
	color: white;
}

.rights {
	padding:20px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}